@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

body, html{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

h1{
	font-weight: 800;
	font-size: 50px;

}
h2{
	font-weight: 800;
	font-size:50px;
}
h3{
	font-weight: bold;
	font-size: 30px;
}
h4{
	font-weight: bold;
	font-size: 20px;
}
p{
	font-weight: bold;
	font-size: 30px;
	margin:30px 0;
}
.wrapper{
	width:950px;
	margin: 0 auto;
}

.herobanner{
	background-color: #007fff;
	height: 100vh;
	padding: 150px 20px;
	box-sizing: border-box;
	position:relative;
	overflow:hidden;

}
.herobanner h1{
	color: white;
	margin:14px 0 20px;
}
.herobanner h3{
	color: white;
	margin:0 0 35px;
}
.herobanner h4,
.herobanner h4 a{
	color: white;
	margin:0;
}
.charachter1{
	background: url(img/charachter1.png)no-repeat 0 0;
	background-size: 100%;
	width:363px;
	height:344px;
	position: absolute; top:117px; right:189px;
	transform:rotate(15deg);

}
.charachter2{
	background: url(img/charachter2.png)no-repeat 0 0;
	background-size: 100%;
	width:309px;
	height:371px;
	position: absolute; top:213px; right:377px;
	
}
.charachter3{
	background: url(img/charachter3.png)no-repeat 0 0;
	background-size: 100%;
	width:300px;
	height: 400px;
	position: absolute; bottom:75px; right:209px;
	
}
a.cta,
button.cta{
font-size: 30px;
font-weight: bold;
color:white;
background: #007FFF;
display:inline-block;
box-shadow: 0 0 0 10px rgba(0,127,255,.15);
padding: 20px 30px;
border-radius: 10px;
text-decoration: none;
outline:none;
border:none;
cursor:pointer;
}
a.cta:active,
button.cta:active{
	opacity:.7;

}
a.cta.alt,
button.cta.alt{
	background-color: #FFD400;
	color:#111111;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
	
}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top:0;
	z-index: 1;

}
nav ul{
	padding:0;
	margin: 0 20px;
}
nav ul li {
	margin:0;
	display:block;
	padding:0;
	float:right;
}
nav ul li a{
	display:block;
	height:100%;
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	font-weight:bold;
	color:#111111;
	text-decoration: none;
	padding:15px 10px;
	line-height: 30px;
}
.moreinfo {
		text-align: center;
}
.moreinfo p{
	margin: 18px 0 35px;
}
.moreinfo h2{
	margin:50px 0 0;
}

.highlight{
	background-color: #ffadf9;
	color: #ff3300;
	padding:5px 10px ;
	line-height: 50px;
	display:inline;
	font-weight: 800;
}
.sep{
	width:470px;
	height:10px;
	background-color: #111111;
	margin:70px auto;
}
.story h3{
	font-size: 40px;
	font-weight: 800;
}
.nb-list{
	width:470px;
	padding:20px 20px 0 20px;
	box-sizing: border-box;
	background-color: #EDEDED;
	float:left;
	margin:0 20px 20px 0;
	position: relative;
}
.nb-list li{
	height:70px;
	border-radius: 10px;
	font-size:40px;
	font-weight: bold;
	color:white;
	display:block;
	margin-bottom: 20px;
	padding:5px 20px;
	box-sizing: border-box;
	
}
.nb-list li.red{background-color: #FF3300;}
.nb-list li.blue{background-color: #007FFF;}
.nb-list li.grey{background-color: rgba(0,0,0,.1);}
.nb-list li.yellow{
	background-color: #FFD400;
	color:#111111;
}
.nb-list li.pink{background-color: #FFADF9;}
.nb-list li.salmon{background-color: #FA8072;}

.nb-list li.dragging{
	position:absolute;
	top:70px;
	left:70px;
	right:-30px;
	transform: rotate(6deg);
	box-shadow: 0 2px 14px rgba(0,0,0,.3);

}
.nb-list li.dragging:after{
	content: '';
	display:block;
	position:absolute;
	width:54px;
	height: 60px;
	background: url(img/hand.png) no-repeat 0 0;
	background-size: 100%;
	bottom:-30px;
	left:60%;
}

.gang-img{
	display: block;
	margin:0 auto;
}
footer{
	text-align: center;
	color:rgba(0,0,0,.4);
	font-size:20px;
	margin:85px 0 45px;
	font-weight: bold;
}

footer a{
	color: rgba(0,0,0,.4);
}

.popup{
	display:none;
}
/* 
<div class="sep"></div>
	<div class="story" id="story"></div>
	<ul class="nb-list">
		<li class="blue">Rock n Roll</li>
		<li class="grey">&nbsp;</li>
		<li class="yellow dragging"></div>Laughter</li>
		<li class="red">Square Off</li>
		<li class="pink">CircutiorsRoutes</li>
		<li class="salmon">Triginometry</li>
		<li class="blue">Rad Hats </li>
		<li class="yellow">Being Silly</li>
	</ul>
	<h3>Left: Things we find important<br>
	Below: Our Story</h3>
	<p>Once upon a time there were shapes.THey were...</p>
	<p>They decided to kick out the other shapes...</p>
	<p>And so the 3 shaoes were</p>
	<p>They even satrted making fun of...</p>
	<div class="sep"></div>
 */